.topBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
    color: gray;
    background: #393939;
}

.contentPan {
    position: relative;
    width: 100%;
    top: 48px;
    left: 0px;
    height: calc(100% - 48px);
}

.catsDiv {
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 10px;
    border-bottom: solid 3px rgb(110, 200, 155);
    overflow-x: auto;
    overflow-y: hidden;
    height: 150px;
    white-space: nowrap;
}

.productsDiv {
    background-color: #e9e9e9;
    padding: 20px;
    overflow: auto;
    height: calc(100% - 150px);
}

.rightpanDiv {
    height: 100%;
}

.ticketDiv {
    position: absolute;
    float: left;
    background-color: white;
    border-radius: 3px;
    width: 100%;
    display: block;
    height: calc(100% - 250px);
    overflow: hidden;
}

.editpanDiv {
    position: absolute;
    float: left;
    top: calc(100% - 250px);
    background-color: #f1f1f1;
    padding: 20px;
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-top: solid 3px rgb(110, 200, 155);
}

.leftpanDiv {
    height: 100%;
    border-right: solid 3px #787878;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
