.inputButtonNumber {
    float: left;
    height: 54px;
    width: 54px;
    font-weight: bold;
    font-family: 'Lato';
    font-size: 24px;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
}

.inputButtonPad {
    position: relative;
    display: block;
    height: 54px;
    width: 100%;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    font-size: 14px;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    margin-bottom: 8px;
    transition: all 150ms linear;
}

.inputButtonNumber:hover, .inputButtonPad:hover {
    background: #efefef;
}

.inputButtonNumber:active, .inputButtonPad:active {
    background: black;
    color: white;
    border-color: transparent;
}

.inputButtonNumber:focus, .inputButtonPad:focus {
    outline: 0;
}

.inputButtonTxt {
    font-size: 16px;
    font-weight: normal;
}

.numpad {
    display: inline-block;
    width: 162px;
    height: 216px;
    float: right;
    text-align: center;
}

.buttonpad {
    display: inline-block;
    width: 45%;
    text-align: center;
    float:left;
}

.inputButtonPadGreen{
    background-color: #6ec89b;
}

.inputButtonPadDeactivated{
    background-color: rgba(102, 89, 85, 0.49);
}
