html body {
    height: 100%;
}

.itemDiv {
    display: inline-block;
    width: 122px;
    height: 115px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    background-color: #fff;
    margin: 8px;
    overflow: hidden;
    cursor: pointer;
    font-size: 11px;
    position: relative;
}

.itemName {
    position: absolute;
    top: 80%;
    left: 5%;
}

.itemImg {
    position: absolute;
    top: 25%;
    left: 25%;
}

.priceTag {
    position: absolute;
    right: 2px;
    top: 2px;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.modalStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    zIndex: 9999;
    background-color: #fff;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: rgb(224, 224, 224);
    border-left: solid 1px rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb {
    background: rgb(168, 168, 168);
    background: #393939;
    min-height: 30px;
}
