.posSaleTicket{
    text-align: left;
    width: 300px;
    background-color: rgba(60, 118, 77, 0.1);
    margin: 20px;
    max-height: 300px;
    padding: 15px;
    font-size: 14px;
    padding-bottom: 30px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: auto;
}

.pos .pos-sale-ticket table td {
    border: 0;
    word-wrap: break-word;
}

.posCenterAlign{
    text-align: center;
}

.posSaleTicket table {
    width: 100%;
    border: 0;
    table-layout: fixed;
}

.posRightAlign {
    text-align: right;
}

@page {
    size: 10cm 10cm;
    margin: 0;

}

@media print {
    #ReceiptTicket {page-break-after: always;}
    html, body {
        width: 300px;
        height: auto;
        border: solid 2px;
        margin: 0;
    }
}
