.wrapTicket {
    height: 100%;
}

.totalPrice {
    width: 100%;
    height: 68px;
    font-family: "LCD";
    color: #3880b2;
    background-color: #e9e9e9;
    font-size: -webkit-xxx-large;
    text-align: center;
}

.tabTicket {
    position: absolute;
    width: 100%;
    overflow: auto;
    height: calc(100% - 68px);
}

.orderLines {
    list-style-type: none;
    padding-left: 0px;
}

.orderLine {
    width: 100%;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
}

.orderLineSelected {
    background-color: rgba(101, 66, 169, 0.28);
}

.productName {
    padding: 0;
    display: inline-block;
    font-weight: bold;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    padding: 0;
    font-weight: bold;
    float: right;
}


.modalTotalPrice {
    width: 46%;
    height: 68px;
    font-family: "LCD";
    color: #3880b2;
    background-color: #e9e9e9;
    font-size: -webkit-xxx-large;
    text-align: center;
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 8px;
    position: relative;
}

.supTag{
    font-size: small;
    position: absolute;
    top: 0px;
    left: 0px;
}

.changeTag{
    font-size: x-large;
}
